
{% extends "hawkerapp/layout.html" %}
{% load static %}
{%block head%}
    <title> {{request.user}} </title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
    </style>
{%endblock%}
{%block body%}
    <div class="landing">
    <div class="landing-text"> <h1>Profile Page</h1></div>
    <h1 style="color:white;"> Past Reviews </h1>
    <table style="background:grey;">
        <tr>
          <th>Stall Name</th>
          <th>Description</th>
          <th>Rating</th>
        </tr>
        {% for review in reviews %}
        <tr>
            <td>{{review.stall.name}}</td>
            <td>{{review.description}}</td>
            <td>{{review.rating}}/5</td>
        </tr>
        {% endfor %}
    </table>
  </div>
{%endblock%}