{% extends "hawkerapp/layout.html" %}
{%block head%}
    <title> Add Menu </title>
{%endblock%}
{%block body%}
    <br>
    <br>
    <div class="add-stall-page">
        <h1>Add A New Menu To This Stall</h1>
        <form enctype="multipart/form-data" action="{% url 'addmenu' stall_id=stall.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name of Food">
            </select>
            <label for="file" class="custom-file-upload">
                Upload a Picture of the Food!
            </label> 
            <input type="file" id="file" name="image" accept="image/*">
            <input type="submit">
        </form>
    </div>
{%endblock%}
