{% extends "hawkerapp/layout.html" %}
{%block head%}
    <title> Add Review  </title>
{%endblock%}
{%block body%}
    <div> <a href="{%url 'stallprofilecustomer' stall_id=stall.id %}"> Go Back To Stall Profile Page </a> </div>
    <div> <a href="{% url 'customerprofile' %}"> Go To Your Profile Page </a> </div>
    <div> <a href="{% url 'logout'%}"> Logout </a> </div>
    <h1>Add A New Review for {{stall.name}} </h1>
    <form action="{% url 'addreview' stall_id=stall.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="description" placeholder="Description">
        <select name="rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="file" name="image" accept="image/*">
        <input type="submit">
    </form>
{%endblock%}