{% extends "hawkerapp/layout.html" %}
{% load static %}
{% comment %} {% extends "hawkerapp/layout.html" %}
{% load static %}
{%block head%}
    <title> {{request.user}} </title>
{%endblock%}
{%block body%}
    <div class="landing">
    <div class="landing-text"> <h1>Welcome {{request.user}}</h1>
    <h2> Stalls </h2>
    <ul>
        {% for stall in stalls %}
            <li><div><a href="{% url 'stallprofilehawker' stall_id=stall.id %}">{{stall.name}}</a></div></li>
        {% endfor %}
    </ul>
    </div>
</div>
{%endblock%} {% endcomment %}

{% block head %}
    <link rel="stylesheet" href="{% static 'hawkerapp/stylehawkerprofile.css' %}">
{% endblock %}


{% block body %}
    <header></header>
    <h2 class="h2"> Your Stalls:</h2>
    <div class="stall_container">
        {% for key, value in d.items %}
        <a href="{% url 'stallprofilehawker' stall_id=key.id %}" class="stall_box" style="text-decoration:none;">
        {% comment %} <div class="stall_box"> {% endcomment %}
            <div class="row">
                <div class="stall_image">
                    <img src={{key.image.url}}>
                </div>
                <div class="about">
                    <li>Stall Name: <span>{{key.name}}</span></li>
                    <li>Average Rating: <span>{{ value }}</span></li>                        
                    <li>Total Reviews: <span>{{key.reviews.count}}</span></li>
                </div>
            </div>
        {% comment %} </div> {% endcomment %}
        </a>
        {% endfor %}
        {% comment %} <div class="stall_box">
            <div class="row">
                <div class="stall_image">
                    <img src="img/chilipanmeestall.jpg">
                </div>
                <div class="about">
                    <li>Stall Name: <span>Super Kitchen</span></li>
                    <li>Address: <span>S786543</span></li>                        <li>Contact Number: <span>98786545</span></li>
                </div>
            </div>
        </div>

        <div class="stall_box">
            <div class="row">
                <div class="stall_image">
                    <img src="img/chilipanmeestall.jpg">
                </div>
                <div class="about">
                    <li>Stall Name: <span>Super Kitchen</span></li>
                    <li>Address: <span>S786543</span></li>                        <li>Contact Number: <span>98786545</span></li>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
{% endblock %}


</html>