{% extends "hawkerapp/layout.html" %}
{% load static %}
{% comment %} {% extends "hawkerapp/layout.html" %}
{% load static %}

{% block head %}
    <title>{{stall.name}}</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
    </style>
{% endblock %}

{% block body%}

    <div class="landing">
    <div> <a href="{% url 'logout'%}"> Logout </a> </div>
    <div> <a href="{% url 'index'%}"> Back to Main Page </a> </div>
        <h1> {{stall.name}} @ {{stall.location}}</h1>
        <h1> Menu </h1>
        <ul>
            {% for food in menu %}
            <li> {{food}}</li>
            {% endfor %}
        </ul>
        <div>
        <h1> Overall Rating:  {{mean_rating}}</h1>
        <h1> Number of Reviews: {{reviews_count}} </h1>
        </div>
        <h1> Reviews </h1>
        <table>
            <tr>
            <th>User</th>
            <th>Description</th>
            <th>Rating</th>
            </tr>
            {% for review in reviews %}
            <tr>
                <td>{{review.owner}}</td>
                <td>{{review.description}}</td>
                <td>{{review.rating}}/5</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %} {% endcomment %}

    {% block head %}
        <head>
            <title>Stall's Name</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
            <link rel="stylesheet" href="{% static 'hawkerapp/stylestallprofile.css' %}">
        </head>
    {% endblock %}
    {% block body %}
    <div class="content-wrapper">
            <div class="cols__container">
                <div class="left__col">
                    <div class="img__container">
                        <img src={{stall.image.url}} alt="Stall's Image">
                    </div>
                    <h2>{{stall.name}}</h2>

                    <ul class = "about">
                        <li><span>{{mean_rating}}</span>Average Rating</li>
                        <li><span>{{reviews_count}}</span>Total Reviews</li>
                    </ul>

                    <div class="content">
                        <a href="{% url 'addmenu' stall_id=stall.id %}" class="btn">Add Menu!</a>
                    </div>
                </div>

                <div class="right__col">
                    <div class="dishes">
                        <h1 class="heading">Our Menu</h1>

                        <div class="box__container">
                            {% for menu in menus%}
                            <div class="box">
                                <div class="image">
                                    <img src = "{{menu.image.url}}" alt = "food">
                                </div>
                                <h3>{{menu.name}}</h3>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="review">
                        <h3 class="sub-heading"> Customer's Review<h3>
                        <h1 class="heading">what they say</h1>

                        <div class="review-box-container">
                            {% for review in stall.reviews.all %}
                            <div class="review-box">
                                <div class="box-top">
                                    <div class="profile">
                                        <div class="profile-img">
                                            <img src = {{review.image.url}}>
                                        </div>

                                        <div class="username">
                                            <strong>{{review.owner}}</strong>
                                            {% comment %} <span>@elizebth123</span> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="reviews">
                                    {% for r in range %}
                                        {% if r < review.rating%}
                                        <i class="fas fa-star"></i>
                                        {% else%}
                                        <i class="far fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                    </div> 
                                </div>

                                <div class="user-comment">
                                    <p>{{review.description}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>



                    </div>
                </div>
            </div>
 </div>
{% endblock %}
