{% extends "hawkerapp/layout.html" %}
{% block head %}
    <title>{{stall.name}}</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
    </style>
{% endblock %}
{% block body%}
<div> <a href="{% url 'logout'%}"> Logout </a> </div>
<div> <a href="{% url 'index'%}"> Back to Main Page </a> </div>
    <h1> {{stall.name}} @ {{stall.location}}</h1>
    <h1> Menu </h1>
    <ul>
        {% for food in menu %}
        <li> {{food}}</li>
        {% endfor %}
    </ul>
    <div>
      <h1> Overall Rating:  {{mean_rating}}</h1>
      <h1> Number of Reviews: {{reviews_count}} </h1>
    </div>
    <h1> Reviews </h1>
    <table>
        <tr>
          <th>User</th>
          <th>Description</th>
          <th>Rating</th>
        </tr>
        {% for review in reviews %}
        <tr>
            <td>{{review.owner}}</td>
            <td>{{review.description}}</td>
            <td>{{review.rating}}/5</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}