{% extends "hawkerapp/layout.html" %}
{% load static %}
{% block body %}
<div class="landing">
    <div class="landing-text">
        <h1>{{location.name}}</h1>
    </div>
    {% comment %} {% for stall in location.stalls.all %}
    <div><a href="{% url 'stallprofilecustomer' stall_id=stall.id %}">{{stall.location}} {{stall.name}}</a></div>
    {% endfor%} {% endcomment %}
    <div class="landing-top-hawker-center">
        {% for stall in location.stalls.all %}
            <div class="landing-top-hawker-center-profile">
                <p class="hawker-center-name">{{stall.name}}</p>
                <a href="{% url 'stallprofilecustomer' stall_id=stall.id %}"><img class = "hawker-center-picture" src ={{stall.image.url}}></a>
            </div>
        {% endfor %} 
    </div> 



</div>
{% endblock %}
